@import 'stylesCommon/global';

.rootWrapper {
  padding: $spacer-M 0;
}

.locationCurrentWeatherSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 $spacer-L;
}

.forecastedWeatherSection {
  margin: 0 0 $spacer-M;
}

.dayDetailsSection {
  margin: 0 0 $spacer-M;
}

.hourDetailsSection {
  margin: 0 0 $spacer-M;
}

.locationInfoWrapper {
  flex: 0 0 auto;
  margin: 0 $spacer-M 0 0;

  @include media('<=tablet') {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: $spacer-M;
  }
}

.currentWeatherWrapper {
  flex: 1 0 auto;

  @include media('<=tablet') {
    flex: 0 0 100%;
  }
}
