@import 'stylesCommon/global';
@import 'stylesCommon/components/cards';
@import 'stylesCommon/components/buttons';

.rootWrapper {
  @extend %cardBase;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @include media('<=phone') {
    align-items: initial;
  }
}

.topWrapper {
  flex: 0 0 auto;
  margin: 0 0 $spacer-M;
}

.backButton {
  @extend %button-common;

  flex: 0 0 auto;
}
